---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonathan Albarran" selectedItem="home">
  <main class="fold-content-container">
    <div class="fold-content">
      <h1>Hi, I'm Jonathan.<br />I code what I think.</h1>
      <p class="lead">[summary]</p>
    </div>
    <a href="mailto:jaal1388@gmail.com" class="button w-button">Contact</a>
  </main>
</Layout>
