---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
const projects = [];
---

<Layout
  title="Personal Projects | Jonathan Albarran"
  selectedItem="personal-projects"
>
  <div class="content-container">
    <h1>Personal Projects</h1>
    <section class="items-container">
      <div class="resouce-items">
        {
          projects.map((project) => (
            <Project
              title={project.title}
              desc={project.desc}
              tech={project.tech}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
