---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
const projects = [];
---

<Layout
  title="Software Development"
  description="Jonathan Albarran Software Development"
  image="/puertofolio/assets/briefcase.svg"
  selectedItem="software-development"
>
  <div class="content-container">
    <h1>Software Development</h1>
    <section class="items-container">
      <div class="resouce-items">
        {
          projects.map((project) => (
            <Project
              title={project.title}
              desc={project.desc}
              tech={project.tech}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
