---
const { selectedItem } = Astro.props;
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <a href="/puertofolio/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img
          src="/puertofolio/assets/avatar.jpg"
          loading="eager"
          alt="Profile picture"
          class="niv-image"
        />
        <div>
          <div class="label-white">Jonathan Albarran</div>
          <div class="label-gray">Software Engineer</div>
        </div>
      </div>
    </a>

    <nav role="navigation" class="w-nav-menu">
      <a
        href="/puertofolio/"
        class={`nav-link-container w-inline-block ${
          selectedItem === "home" ? "w--current" : ""
        }`}
      >
        <img
          src="/puertofolio/assets/home.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Home</div>
      </a>
      <a
        href="/puertofolio/software-development"
        class={`nav-link-container w-inline-block ${
          selectedItem === "software-development" ? "w--current" : ""
        }`}
        aria-current={selectedItem === "software-development"
          ? "page"
          : undefined}
      >
        <img
          src="/puertofolio/assets/code.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Software development</div>
      </a>
      <a
        href="/puertofolio/personal-projects"
        class={`nav-link-container w-inline-block ${
          selectedItem === "personal-projects" ? "w--current" : ""
        }`}
      >
        <img
          src="/puertofolio/assets/favorite.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Personal projects</div>
      </a>
    </nav>

    <div
      class="navbar-icon-button w-nav-button"
      style="-webkit-user-select: text;"
      aria-label="menu"
      role="button"
      tabindex="0"
    >
      <img
        src="/puertofolio/assets/menu.svg"
        loading="eager"
        alt=""
        class="navbar-icon"
      />
    </div>
  </div>

  <script>
    import { setupNav } from "../scripts/nav.js";

    let cleanup;
    document.addEventListener("astro:page-load", () => {
      if (cleanup) cleanup();
      cleanup = setupNav();
    });

    document.addEventListener("astro:before-swap", () => {
      if (cleanup) cleanup();
    });
  </script>
</aside>
