---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  image: string;
  selectedItem: string;
}

const { title, description, image, selectedItem } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Header title={title} description={description} image={image} />
  <body>
    <div class="content">
      <Sidebar selectedItem={selectedItem} />
      <nav class="main">
        <div class="container">
          <slot />
          <div class="projects-section">
            <!-- Software Development -->
            <a
              href="/puerttofolio/software-development"
              class="projects-container"
            >
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img
                    src="/puertofolio/assets/browser.svg"
                    loading="lazy"
                    alt=""
                    class="projects-category-image"
                  />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Software Development</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">
                    Technologies &amp; tools
                  </div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Node.js</div>
                    <div class="single-chip small-chip">MongoDB</div>
                    <div class="single-chip small-chip">TypeScript</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
